<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>GeCon - {% block title %}{% endblock %}</title>
        <link type="image" rel="shortcut icon" href="{{ asset('img/favicon.png') }}" />
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display&amp;subset=latin-ext" rel="stylesheet" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
            <link type="text/css" rel="stylesheet" href="{{ asset('css/reset.css') }}" />
            <link type="text/css" rel="stylesheet" href="{{ asset('css/font_size.css') }}" />
            <link type="text/css" rel="stylesheet" href="{{ asset('css/background.css') }}" />
        {% endblock %}
        <style>
            body{
                color: #f0f0f0;
            }

            header, section, footer{
                margin-top: 1.8rem;
                background-color: #242424;
            }

            footer{
                margin-bottom: 1.8rem;
            }

            #nav-bar{
                height: 70px;
            }

            #nav-bar a{
                text-align: center;
            }

            {% block styles %}{% endblock %}
        </style>
        {% block javascripts_header %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="row col-10">

                    {% block header %}
                        <header class="row col-12 p-2 navbar-dark rounded">
                            <nav id="nav-bar" class="navbar navbar-expand-lg px-3 py-0">
                                <a class="col-3 navbar-brand" href="{{ path('inicio') }}">
                                    <h3 class="text-center font-xxl">Gecon</h3>
                                </a>
                                <ul class="col-9 navbar-nav justify-content-between align-items-center">
                                    <li class="nav-item m-3">
                                        <a class="nav-link">Mis Enlaces</a>
                                    </li>
                                    <li class="nav-item m-3">
                                        <a class="nav-link">Gestionar Enlaces</a>
                                    </li>
                                    <li class="nav-item m-3">
                                        <a class="nav-link">Gestionar Categorias</a>
                                    </li>
                                    <li class="nav-item m-3">
                                        <a class="nav-link">Salir</a>
                                    </li>
                                </ul>
                            </nav>
                        </header>
                    {% endblock %}
                
                    {% block section %}
                        <section class="row col-12 p-3 rounded">
                            {% block container_section %}{% endblock %}
                        </section>
                    {% endblock %}
                    
                    {% block footer %}
                        <footer class="row col-12 p-4 rounded">
                            <div class="row col-12 justify-content-center">
                                <h3>GECON</h3>
                            </div>
                            <div class="row col-12 justify-content-center">
                                <a href="https://github.com/JoseGomez92" target="_blank">
                                    <span class="font-s">Jose Gomez Gonzalez - 2019</span>
                                    <img class="logo-git" width="30px" height="30px" src="https://image.flaticon.com/icons/svg/23/23957.svg">
                                </a>
                            </div>
                        </footer>
                    {% endblock %}
                    
                </div>
            </div>
        </div>
        {% block javascripts_body %}{% endblock %}
    </body>
</html>